  
  
  
  .open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
   
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  *{
    margin: 0;
    padding: 0;
  }
  .header{
    width: 1600px;
    height: 847px;
    background-color: rgb(255, 248, 243);
    margin: 0 auto;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    line-height: 70px;
    /* margin-right: 633px; */
  }
  .colorcode{
    color: rgb(253, 110, 10);
   
  }
  nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(71, 71, 71);
    margin-right: 250px;
  }
   nav ul li{
    list-style: none;
    margin-right: 50px;
   }
   nav ul a{
    text-decoration: none;
   }
   nav h1{
    font-weight: 800;
    font-size: 45px;
    margin-left: 350px;
    margin-right: 350px;
   }
   .descript{
    margin-left: 350px;
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    /* background-size: ; */
   }
   .banner1 img{
    margin-right: 250px;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-size:cover ;
   }
  .banner1{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  
  footer{
    width: 1630px;
    height: 780px;
    display: flex;
    margin: 0 auto;
    background-color:rgb(255, 248, 243);;
    justify-content: space-between;
    align-items: center;
   
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items:left;
    margin-left: 350px;
    margin-top: 130px;
  }
  .btn-primary{
    border-radius: 5px;

background: rgb(253, 110, 10);
width: 150px;
height: 64px;
  padding: 10px 20px 10px 5px;
  color: white;
  }
  .content h1{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
  }
   .content p{
    color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0%;
text-align: left;
  margin-bottom: 30px;
   }
  .msg{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  .msg h1{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 35px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
  }

   .msg input[type="text"], .msg input[type="email"],footer textarea{
    /* Rectangle 16 */

display: block;
height: 64px;
border-radius: 5px;
 background-color: white;
  width: 100%;
  margin-bottom: 24px;
  border: none;
  padding: 10px 25px 10px 10px;
/* White Color */
background: rgb(255, 255, 255);
   }

 