  
  
  
  .open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
   
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  *{
    margin: 0;
    padding: 0;
  }
    header{
    
      background-image: url('../images/developer.png'),url('../images/header_bg.png');
      background-repeat: no-repeat;
      background-position: top left, bottom right;
      background-color:rgb(255, 248, 243);
     margin-bottom: 50px;
    }

    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
    }
    nav h1{
      font-family: Open Sans;
     font-size: 45px;
      font-weight: 800;
     line-height: 61px;
     letter-spacing: 0%;
     text-align: left;
    margin: 50px 200px;
    }
    span{
      color: rgb(253, 110, 10);
    }
    ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
     
    }
    li{
      list-style: none;
     
      color: black;
      margin-right: 16px;
    }
    a{
      text-decoration: none;
      color: black;
      font-size: 20px;
    }
    .content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 38px 0 200px;
    }

    .description{
      max-width: 580px;
      /* height: 350px; */
    }
    .description h4{
      color: rgb(71, 71, 71);
font-family: Open Sans;
font-size: 45px;
font-weight: 600;

    }
    .description h1{
    
    font-size: 85px;
    font-weight: 700;
    

    }
    .description p{
    
    font-size: 18px;
    font-weight: 400;
    
    }
    .content img{
      max-width: 580px;
    }
    .btn-primary{
      background-color: orange;
      /* Rectangle 1 */

    padding: 18px 35px;
    border: none;
  border-radius: 4px;
  font-size: 20px;
  color: white;
    }

    /* banner2 */

    .banner2{
      margin: 0 auto;
     
    background-color: rgb(255, 248, 243);
    margin: 0 230px;
    border-radius: 10px;
    padding:  131px 157px ;
    margin-bottom: 30px;
    
    }
    .card{
      box-sizing: border-box;
      border: 1px solid rgb(0, 0, 0);
      background: rgb(255, 255, 255);
      text-align: center;
    }
     
      .details{
        display: flex;
        justify-content: space-around;
     
      }
      .card h1{
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 30px;
        
      }

      .card p{
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 30px;
      }
      .title{
        display: flex;
        justify-content: space-around;
      }
      .list{
        display: flex;
        justify-content: space-around;
        font-weight: 400;
        text-align: center;
      }
   /* part3 */
     .skill{
      margin: 0 auto;
      margin: 0 230px;
      margin-bottom: 130px;

     }
     .skill h1,p{
      font-size: 35px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 20px;
     
     }
     .skill1,.skill2,.skill3, .skill4{
      padding: 32px;
      border-radius: 5px;
      box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
      background: rgb(255, 255, 255);
     }
   
     .skill p{
     font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
     }
     .skill-list{
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 24px;
   

     }
     /* part 4 */
      h1{
      font-size: 35px;
     font-weight: 700;
     margin-bottom: 113px;
     text-align: center;
     }

     .edu{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-template-rows: 245px 175px 175px;
      gap: 30px 71px;
      margin: 0 auto;
      margin: 0px 230px;
      margin-bottom: 50px;
     }

     .identity{
      width: 510px;
      height: 175px;
      text-align: left;
     }
     .identity h2{
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 10px;
     }
      .identity h4{
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20;
      }
      .identity p{
        font-size: 16px;
        font-weight: 400;
        text-align: left;
      }
       
      .dwnld{
     margin: 0 700px;
     width: 200px;
     height: 64px;
     border-radius: 5px;
      padding: 15px;
     background: rgb(253, 110, 10);
     color: white;
     font-size: 20px;
     font-weight: 700;
     border: none;
     margin-bottom: 130px;
      }
     footer{
      margin: 0 auto;
      width: 1600px;
      height: 780px;
      display: flex;
      justify-content: space-between;
      align-items: center;
     
      background-color:rgb(255, 248, 243);;
     }
     .content1,.content2{
      text-align: left;
      padding: 130px 117px 420px 255px;
     }
     .content1 h1{
      font-size: 35px;
     font-weight: 700;
     margin-bottom: 20px;
     }
     .content1 p{
     font-size: 16px;
     font-weight: 400;
     margin-bottom: 30px;
     }

    @media screen and (max-width:576px){
      .content,nav,ul, .details{
        flex-direction: column;
        gap: 10px;
        padding: 4px ;
      }
      .description{
        margin: none ;
       width: 100%;
      }
      
      header{
        background-image: none;
        margin: 0 10px;
        width: 100%;
      }
      .content img{
        width: 100%;
       padding: 0 5px ;
      }
      .btn-primary{
        margin-bottom: 5px;
    }
    .li{
      margin-right:none;
    }
    .banner2{
      margin: 0 30px;
      padding: 40px 40px;
    }
    .skill-list{
      grid-template-columns: repeat(1,1fr);
    }
    .skill{
      margin: 0px 15px;
    }
    .edu{
      width: 100%;
      grid-template-columns: repeat(1,1fr);
     margin: 0 30px;
     gap: 40px;
    }
    .dwnld{
      margin: 50px 60px;
      height: auto;
      width: 60%;
    }
    .identity{
      width: 100%;
     
      t
    }
    }